<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>t'Work</title>
  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles -->
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet" type="text/css">
  
  
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="lib/jquery.event.drag-2.0.js"></script>
</head>

<body ng-app="twork">
  <div class="appname">
    <h1>t'Work</h1>
    <h4>"Get t'Work."</h4>
  </div>
  <ul class="menu">
    <li><a href="#/login">Login</a></li>
    <li><a href="#/chat">Chat</a></li>
    <li><a href="#/tasks">Tasks</a></li>
    <li id="logo"><img src="img/triceratops.gif"></li>
  </ul>

  <div id="whiteboard" ng-controller="whiteboardController">
    <div class="canvas"><!-- whiteboard canvas is inserted here--></div>
    <button id="clearWhiteboardBtn" ng-click="clear()">Clear board</button>
    <input id="colorpicker" type="color" value="#bada55" ng-model="color"/>
    <hr>
  </div>

  <div ng-view></div>
   
  <!-- internal dependencies -->
  <script src="login/signup.js"></script>
  <script src="login/login.js"></script>
  <script src="app.js"></script>
  <script src="v.whiteboard/whiteboard.js"></script>
  <script src="v.chat/chat.js"></script>
  <script src="v.tasks/tasks.js"></script>
</body>
</html>