html {
  margin: 2% 2% 0 2%;
}

.row .col.s8 {
  padding-top: 1.2%;
}

.canvas {
  height: 500px;
  width: 100%;
  background: #fdf7da;
  border: 3px solid black;
}

#colorpicker {
  width: 4.6%;
  height: 2.3em;
  margin-top: 1%;
}

#clearWhiteboardBtn {
  float: right;
  margin-top: 1%;
}

label.urgency {
  font-size: 1rem;
  margin-left: 3%;
}

select {
  width: 13%;
  height: 2rem;
  margin: 2% 0 0 3%;
}

a.btn-floating {
  margin: 3% 0 0 4%;
}

/* Task checkbox */
td#checkbox {
  padding: 0 3% 8% 2%;
}

input[type].valid {
  border-bottom: #fff;
  box-shadow: 0 1px 0 0 #fff;
}

input[type].valid+label:after, input[type]:focus.valid+label:after {
  color: #fff;
}

#taskContainer {
  margin-left: 3%;
}

#taskInput {
  width: 95%;
}

#dateContainer {
  margin-left: 3%;
}

#datepicker {
  width: 95%;
}

table {
  width: 90%;
  margin-left: 3%;
}

/* Chat div */
#chat {
  width: 65%;
  margin: 0;
}

/* Chat input text field */
#data {
  width: 75%;
}

#logo{
  width: 10%;
}