body {
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Short Stack', cursive;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.canvas {
  position: relative;
  height: 400px;
  width: 800px;
  border: 3px solid black;
}

.menu li{
  display: inline;
}

.menu li:hover{
  background-color: #bada55;
}

img{
  width: 10%;
  height: auto;
  align: right;
}