body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Short Stack', cursive;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.canvas{
  border: 3px solid black;
}

.menu li{
  display: inline;
}

.menu li:hover{
  background-color: #bada55;
}