<!-- Whiteboard -->
<div class="row" style='margin-bottom: 10px'>

  <div class="col s8">
    <div id="whiteboard" ng-controller="whiteboardController">
      <div class="canvas"><!-- whiteboard canvas is inserted here--></div>
      <span>
        Choose color:
        <input id="colorpicker" type="color" ng-model="color"/>
      </span>  
      <a class='btn' id="clearWhiteboardBtn" ng-click="clear()"><i class='material-icons right'>clear_all</i>Clear board</a>
    </div>
 </div>

  <!-- Tasks  -->

  <div class="col s4">

    <div id='tasks' ng-controller="tasksController">
      <ul class="collapsible popout" data-collapsible="accordion" watch>
        <li>
          <div class="collapsible-header">
             <h4>Tasks<i class="material-icons prefix">assignment</i></h4></div>
          <div class="collapsible-body">
            <form name='createTask'>
              <div input-field id='taskContainer'>
                <input type='text' id='taskInput' ng-model='task.name' required>
                <label>Add Task</label>
              </div>
              <div input-field id='dateContainer'>
                <input input-date type='text' id='datepicker' ng-model='task.date' required>
                <label for='datepicker'>Due Date</label>
              </div>
              <label class='urgency'>Urgency</label>
              <select class='browser-default' ng-model='task.urgency'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <a class='btn-floating' ng-click='addTask(task.name, task.date, task.urgency)' ng-disabled='createTask.$pristine'><i class='material-icons right'>add</i></a>
            </form>

            <table class='bordered highlight centered'>
              <thead>
                <tr>
                  <th>Complete</th>
                  <th>Task</th>
                  <th>Created</th>
                  <th>Due</th>
                  <th>Urgency</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='(key, value) in tasks track by key'>
                  <td id='checkbox'>
                    <input-field>
                      <input type='checkbox' ng-model='{{key}}' ng-checked='value.complete'>
                      <label></label>
                    </input-field>
                  </td>
                  <td>{{ value.name }}</td>
                  <td>{{ value.created }}</td>
                  <td>{{ value.due }}</td>
                  <td>{{ value.urgency }}</td>
                  <pre>key = {{ key }}</pre>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
   </div>

 </div>

<!-- Chat  -->
<div class ="row" id='chat'>
   <div ng-controller="chatController">
      <h4>Chat<i class='material-icons'>chat</i></h4>
        <div class="col s1">
          <b>USERS</b>
           <div id="users"></div>
        </div>
        <div class="col s10">
          <div id="conversation"></div>
            <input id="data" autofocus />
            <a class="btn" id="datasend"><i class='material-icons right'>send</i>Send</a>
        </div>
    </div>
</div>
