<!-- Whiteboard -->
<div class="row">

  <div class="col s8">
    <div id="whiteboard" ng-controller="whiteboardController">
      <div class="canvas"><!-- whiteboard canvas is inserted here--></div>
      <button id="clearWhiteboardBtn" ng-click="clear()">Clear board</button>
      <input id="colorpicker" type="color" value="#bada55" ng-model="color"/>
      <hr>
    </div>
 </div>

  <!-- Tasks  -->
  <div class="col s4">
    <div id='tasks' ng-controller="tasksController">
      <h5><i class="material-icons prefix">assignment</i>Tasks</h5>
      <form input-field name='createTask'>
        <label>Add Task</label>
        <input type='text' ng-model="task" required>
        <label>Due Date</label>
        <input type='date' class='datepicker' ng-model='datetime' required>
        <label>Urgency (1-5)</label>
        <input type='number' ng-model='urgency' min='0' max='5'>
        <a class='btn-floating btn-tiny' ng-click='addTask(task, datetime, urgency)' ng-disabled='createTask.$pristine'><i class='material-icons right'>add</i></a>

  <!--       <button ng-click='clear()' ng-disabled='completed.length < 1'>Clear</button> -->
      </form>

      <table class='bordered highlight centered'>
        <thead>
          <tr>
            <th>Complete</th>
            <th>Task</th>
            <th>Created</th>
            <th>Due</th>
            <th>Urgency</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat='task in tasks track by $index'>
            <td><input type='checkbox'><label></label></td>
            <td>{{ task.name }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.due }}</td>
            <td>{{ task.urgency }}</td>
            <td><a class='btn-floating red' ng-click='delete(task)'><i class='material-icons'>delete</i></a></td>
          </tr>
        </tbody>
      </table>
     </div>
   </div>

</div>

<!-- Chat  -->
<div class ="row">
   <div id='chat' ng-controller="chatController">
      <h4>Chat</h4>
        <div class="col s1">
          <b>USERS</b>
           <div id="users"></div>
        </div>
        <div class="col s10">
          <div id="conversation"></div>
            <input id="data" autofocus />
            <input type="button" id="datasend" value="send" />
        </div>
    </div>
</div>