<div id='login'>
  <h1>Login</h1>
  <form name="loginForm"  ng-submit='logIn(user, password)' novalidate>
  <!-- I need to change ng-submit -->
  
    <input type='text' name = "username" ng-model='user' ng-required = "true" ng-minlength = "3" ng-maxlength="15" placeholder="enter username">
    <p ng-show="loginForm.username.$invalid">Your Username is Required</p>

    <input type="password" name = "password" ng-model='password' ng-required = "true" placeholder="enter password">
    <p ng-show="loginForm.password.$invalid">A Password is Required</p>
    <button ng-disabled="signinForm.$invalid">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
