<div id='signup'>
  <h1>Signup</h1>
  <form name="signupForm" ng-submit='createUser(email, user, password)'>
  <!-- I need to change ng submit -->
    <input type='text' name='username' ng-model='user' ng-required="true" ng-minlength="3" ng-maxlength="15" placeholder='choose a username'>
    <p ng-show="signupForm.username.$invalid">A Username is Required</p>

  	<input type="email" name='email' ng-model='email' ng-required="true" placeholder="enter a valid email">
    <p ng-show="signupForm.email.$invalid">An Email Address is Required</p>
    
    <input type="password" name='password' ng-model='password' ng-required="true" placeholder="create a unique password">
    <p ng-show="signupForm.password.$invalid">A Password is Required</p>

    <button ng-disabled="signupForm.$invalid">Signup</button>
  </form>
  <a href="#/login">Already have an account? <strong>Login</strong> ...</a>
</div>