<!DOCTYPE html>
<html>
  <head>

  </head>
  <div id='signup'>

  <body class='blue lighten-1'>
    <div class='container center-align'>
      <h1>t'Work</h1>
      <div class='row'>
        <form  name="signupForm" ng-submit='createUser(email, user, password)' class='col s12' novalidate>
          <div class='row'>
            <div class='input-field col s6 push-s3'>
              <input id='username' type='text' class='validate' ng-model='user'>
              <label class='white-text'for='username' data-error='Invalid' data-success='Valid'>Username</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s6 push-s3'>
              <input id='email' type='email' class='validate' ng-model='email'>
              <label class='white-text' for='email' data-error='Invalid' data-success='Valid'>Email</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s6 push-s3'>
              <input id='password' type='password' class='validate' ng-model='password'>
              <label class='white-text' for='password' data-error='Invalid' data-success='Valid'>Password</label>
            </div>
          </div>
          <button class='btn white black-text' type='submit' name='action'>Submit
          <i class='material-icons right'>flight_takeoff</i>
          </button>
          <a href="#/login" class='btn white black-text'>Login
          <i class='material-icons right'>create</i>
          </a>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
