<div id='Tasks'>
  <h2>Tasks</h2>
  <form name='createTask' ng-submit="addTask(task, datetime)">
      <input type='text' ng-model="task" placeholder='Add task name...' required>
      <input type='datetime-local' ng-model='datetime' required>
      <button ng-disabled='task.$invalid || datetime.$invalid'>Add</button>
    </form>
  
    <ul>
      <li ng-repeat="task in tasks" ng-click="completeTask($index)">
        <h4>Task: {{ task.taskName }} Created: {{ task.createdAt }} Due: {{ task.dueDate }}</h4>
      </li>
    </ul>
  
  </div>